# 
/*
/relmapping/annot_ce/*
/relmapping/annot_cb/*
# except
!.gitignore
!Snakefile
!workflow/
!relmapping/workflows/
!relmapping/yapc/
!relmapping/Snakefile.*
!relmapping/scripts/
!relmapping/annot_c*/notebooks/

