# 
/*
# except
!annotatedPeak.bed
!briggsae.other_caenorhabditis.orthologs.id.gz
!elegans.other_caenorhabditis.orthologs.id.gz
!elegans.other_nematodes.orthologs.id.gz
!gene_tissues_annotation_serizay.txt
!serizay_RE_annotation.txt
